@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Abel');
/* FontS */
@text: 'Abel', sans-serif;
@text_title:'Bungee', cursive;

/*Color*/
@dark_grey:#1c1c1c;
@dark_red:#831A57;
@light_grey:#acacac;
 
 /* margin */
@gutter:20px;

/* RESET */

li{list-style: none;}
a{
	text-decoration: none;
	color:@dark_grey;
	&:hover{color:@light_grey;}
}
p, body, figure, ul, menu, blockquote{
	margin:0;
	padding: 0;
}
section{
	display: block;
}
body{
	font-family: @text;
	font-size: 18px;
}

/*END_RESET*/

/*BODY*/

header{
	display: block;
	text-align: center;
	.header-image{
		width: 100%;
		height: calc(100vh);
		background-size: cover;
		background-attachment: fixed;
		background-image: url(../img/header-image.jpg);
		li{
			display: inline-block;
			margin-left: @gutter;
			line-height: 90px;
		
			a{
				font-size: 1em;
				color: @dark_grey;
				opacity: 0.5;
			}
			a:hover{
				opacity: 1;
			}
		}		
		.logo{
			background: url(../img/logo.png);
			width: 65px;
			height: 90px;
			display: inline-block;
			text-indent: -9999em;
			float: left;
		}
		h1{
			font-family: @text_title;
			    color: #f4f4f4;
			    letter-spacing: 3px;
			    font-size: 56px;
			    margin-top: 15%;
			    span{
			    	color: @dark_red;
			    }
		}
		&:after{
			content: '';
		    background-image: linear-gradient(180deg,rgba(0,0,0,.8) 0,transparent 50%,transparent 90%,rgba(0,0,0,.8));
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    top: 0;
		    left: 0;
		    z-index: 2;
		    will-change: transform;
		}
	}	
}
footer{
	text-align: center;
	width: 100%;
	display: block;
	clear: both;
	p{

		font-size: 1em;
		color:@light_grey;
		font-weight: lighter;
		line-height: 56px;

	}
	figure{
		background: url(../img/logo_footer.png);
		width:55px;
		height: 56px;
		float: right;
		text-indent: -9999em;
	}
}
.my-info{
	background-color: #f1f1f1;
	padding: 80px 0;
	text-align: center;
	p{
	    width: 70%;
	    margin: 0 auto;
	    font-size: 28px;
	    font-weight: bold;
	    letter-spacing: 0.1em;
	    color:@light_grey	;
	    font-family: @text;
	}
}
.second_paragraph{
	background-color: @dark_red;
	padding: 80px 0;
	p{
		width: 70%;
	    margin: 0 auto;
	    font-size: 28px;
	    font-weight: bold;
	    letter-spacing: 0.1em;
	    color:#fff;
	    font-family: @text;
	}
}
.section-skills{
	padding: 80px 5px;
	background-color: #fff;
	text-align: center;
	section{
		max-width: 1280px;
		margin: 0 auto;
		figure{
			width:318px;
			height: 318px;
			background-size: cover;
			border-radius: 50%;
			background-image: url(../img/me.jpg);
			text-align: center;
			display: inline-block;
			vertical-align: top;
			position: relative;
					
		}
		.content_skills{
			display: inline-block;
			margin-left: 5%;
			text-align: left;
			h2{
				color: @dark_red;
				font-size: 2em;
			}	
			ul{
			-webkit-column-count: 2;
		       -moz-column-count: 2;
		            column-count: 2;

				li{
					font-size: 1.2em;
					margin: 10px;
					color: @light_grey;
					font-weight: bold;
					span{
						font-size: 1em;
						display: block;
						font-style: italic;
					}
				}
			}
		}
	}
}
.content{
		float: left;
		margin-left: @gutter*4;
		padding-top: @gutter;
		margin-bottom: @gutter*4;
		width: 70%;
	span{
	    background: none repeat scroll 0 0 #1c1c1c;
	    border-radius: 100%;
	    font-size: 1em;
	    color: #acacac;
	    display: inline-block;
	    height: 80px;
	    width: 80px;
	    float: left;
	    margin-right: @gutter;
	    margin-bottom: @gutter;
	   	p{
		    display: inline-block;
		    font-weight: bold;
		    margin-left: 2px;
		    margin-top: 18px;
		    text-align: center;
	   	} 
	}

	a.link{
		font-weight: bold;
		margin-bottom: @gutter*2;
		display: inline-block;
		font-size: 1.5em;
	}
}
.description{
	display: inline-block;
	font-weight: lighter;
	font-size: 1.5em;
	margin-bottom: @gutter/2;
	a{
		color:@dark_red;
		font-weight: bold;
		&:hover{
			color:@dark_grey;
			opacity: 0.5;
		}	
	}
}

.page_post{
	margin-bottom: @gutter*4;
	img{
		margin: @gutter 0;
	}
	header{
		padding: 0;
		h2.post-title{
			text-align: left;
			font-size: 3em;
		}
	}		
	.post-meta{
		margin-top: @gutter*2;
		margin-bottom: @gutter*2;
		display: inline-block;

		h3{
		font-size: 1.75em;
		color: @dark_grey;
		font-family: @text;
		}
	}	
}
.highlight{
	background: @dark_grey;
	padding:10px ;
	width: 100%;
	color: grey;
	margin-top: @gutter;
	margin-bottom: @gutter;

}